@namespace Mountain
@using System
@inherits Sandbox.UI.Panel

<root class="modal">
    <div class="container blurry">
        <p class="text">@Text</p>

        <div class="options">
            <button class="primary-button" onclick="@OnSubmitButton">
                <label>@SubmitText</label>
            </button>

            <button class="primary-button danger" onclick="@OnCancelButton">
                <label>@CancelText</label>
            </button>
        </div>
    </div>
</root>

@code
{
    public string Text { get; set; }
    public string SubmitText { get; set; } = "OK";
    public string CancelText { get; set; } = "Cancel";

    public Action OnCancel { get; set; }
    public Action OnSubmit { get; set; }

    private void OnCancelButton()
    {
        OnCancel?.Invoke();
        Delete();
    }

    private void OnSubmitButton()
    {
        OnSubmit?.Invoke();
        Delete();
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(Text, SubmitText, CancelText);
    }

    public static void Show(string text, string submitText = "OK", string cancelText = "Cancel", Action submitAction = null, Action cancelAction = null)
    {
        var screenPanel = Game.ActiveScene.GetAllComponents<DialogRoot>().FirstOrDefault();

        if (!screenPanel.IsValid())
            return;

        var modal = screenPanel.Panel.AddChild<BasicModal>();

        modal.Text = text;

        modal.CancelText = cancelText;
        modal.OnCancel = cancelAction;

        modal.OnSubmit = submitAction;
        modal.SubmitText = submitText;
    }
}