@namespace Mountain
@inherits PanelComponent

@if (!Client.Viewer.IsValid())
{
    return;
}

<root>
    <div class="lower-left-box">
        @if (Client.Viewer.IsLocalClient)
        {
            <div class="card blur" style="background-color: @Client.Local.TeamColor.WithAlpha(0.2f).ToString();">
                <div class="text">#@Client.Local.Team.ToString().ToUpper()</div>
            </div>
        }
        else
        {
            <div class="card blur">
                <div class="text">@Client.Viewer.DisplayName</div>
            </div>
        }

        <div class="health-bar rounded blur">
            <div class="health-fill" style="width: @(GetHealthPercentage())%;"></div>
            <div class="health-text">#HEALTH @GetHealthDisplay()%</div>
        </div>
    </div>

    <div class="lower-center-box">
        <div class="state-text @GetTimeTextClass()">@GetFormattedState()</div>
        <div class="time-text @GetTimeTextClass()">@GetFormattedTime()</div>
    </div>

    <div class="lower-right-box">
        @if (Ammo.IsValid())
        {
            <div class="card blur">
                <div class="text">@Ammo.Ammo / @Ammo.MaxAmmo</div>
            </div>
        }
    </div>
</root>